
  <!-- <footer style="background-color:rgb(176, 160, 160)">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3 text-dark"><b>About Us</b></h5>
          <p>
            We are a group of 7 members from Room - 7 of NPCI - A. This project is a part of NPCI bootcamp final evaluation. 
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3 text-dark"><b>Quick Links</b></h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a style="color: #4f4f4f;" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="mb-1">
              <a style="color: #4f4f4f;" routerLink="/hostel-detail" routerLinkActive="active">Hostel Details</a>
            </li>
            <li class="mb-1">
              <a style="color: #4f4f4f;" routerLink="/contactUs" routerLinkActive="active">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-1 text-dark"><b>Food timings</b></h5>
          <table class="table" style="border-color: black">
            <tbody>
              <tr style="border-color:black">
                <td>Breakfast</td>
                <td>9am - 9:30am</td>
              </tr>
              <tr>
                <td>Lunch</td>
                <td>1pm - 2pm</td>
              </tr>
              <tr>
                <td>Dinner</td>
                <td>8:30pm - 9pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </footer> -->
  


<div class="dkp-footer">
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container">
    
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center align-items-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="">
              <strong>Contact us</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white">
              <input type="email" id="form5Example2" class="form-control" placeholder="Email address"/>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=amanpratapsingh952@gmail.com" class="p-2 text-decoration-none text-white border border-white rounded-circle" target="_blank"><i class="far fa-envelope"></i></a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <div class="row">
      <div class="col-lg-4 col-md-12 d-flex flex-column justify-content-start ">
        <h3 class="text-light"><b>About Us</b></h3>
        <p>
          We are a group of 7 members from Room - 7 of NPCI - A. This project is a part of NPCI bootcamp final evaluation. 
        </p>
      </div>
      <div class="col-lg-4 col-md-6 d-flex flex-column justify-content-start align-items-evenly">
        <h4 class="text-light"><b>Quick Links</b></h4>
        <div class="d-flex align-items-center justify-content-around" style="padding: 5px;">
          <ul class="list-unstyled">
            <li class="">
              <a class=" text-light" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="">
              <a class=" text-light" routerLink="/hostel-detail" routerLinkActive="active">Hostel Details</a>
            </li>
            <li class="">
              <a class=" text-light" routerLink="/contactUs" routerLinkActive="active">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4 class="text-light"><b>Food timings</b></h4>
        <table class="table" style="border-color: white">
          <tbody style="color: white;">
            <tr style="border-color:white;">
              <td>Breakfast</td>
              <td>9am - 9:30am</td>
            </tr>
            <tr>
              <td>Lunch</td>
              <td>1pm - 2pm</td>
            </tr>
            <tr>
              <td>Dinner</td>
              <td>8:30pm - 9pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <!-- Grid container -->
</footer>



<footer class="page-footer font-small text-light bg-dark">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="pt-3 pb-4">
          <div class="d-flex justify-content-center">
  
            <!-- Facebook -->
            <a class="fb-ic" href="#" target="_blank">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="#" target="_blank">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to={{email}}" target="_blank">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/in/aman-pratap-singh-b5b7711a0/" target="_blank">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="#" target="_blank">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--GitHub-->
            <a class="git-ic" href="https://github.com/{{userName}}" target="_blank">
              <i class="fab fa-github fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
</footer>
<!-- Footer -->
</div>
