<div class="fluid-container">
    <div class="d-inline-flex pull-left"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-around">
        <div class="container flex-column px-2">
            <div class="row d-flex justify-content-around">
                <div class="col-sm-5 col-md-4">
                    <div class="div-box text-light">
                        <h3 class="User-name"><strong>Super Deluxe Room</strong></h3>
                        <h4 class="designation"> <strong>Boys</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysSuperDeluxeRooms}}</span></h4>
                        <h4 class="designation"> <strong>Girls</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsSuperDeluxeRooms}}</span></h4>
                        <!-- <div class="profile-details">
                            <ul>
                                <li><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                                <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                                <li><a routerLink="/admin/updateStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                                <li><a routerLink="/admin/viewStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>

                <!-- <div class="col-sm-6 col-md-5">
                    <p>Super Delux rooms are the luxurious rooms of our hostel</p>
                </div> -->
            </div>
            
            <div class="row d-flex justify-content-around">
                <!-- <div class="col-sm-6 col-md-5">
                    <p>Deluxe rooms are the luxurious rooms of our hostel</p>
                </div> -->
                <div class="col-sm-5 col-md-4">
                    <div class="div-box text-light">
                        <h3 class="User-name"><strong>Deluxe Room</strong></h3>
                        <h4 class="designation"> <strong>Boys</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysDeluxeRooms}}</span></h4>
                        <h4 class="designation"> <strong>Girls</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsDeluxeRooms}}</span></h4>
                        <!-- <div class="profile-details">
                            <ul>
                            <li><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                            <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                            <li><a routerLink="/admin/updateStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                            <li><a routerLink="/admin/viewStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-around">
                <div class="col-sm-5 col-md-4 pull-left">
                    <div class="div-box text-light">
                        <h3 class="User-name"><strong>Standard Room</strong></h3>
                        <h4 class="designation"> <strong>Boys</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.boysStandardRooms}}</span></h4>
                        <h4 class="designation"> <strong>Girls</strong> Available Rooms: <span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">{{availability.girlsStandardRooms}}</span></h4>
                        <!-- <div class="profile-details">
                            <ul>
                            <li><a routerLink="/admin/addStudent"><i class="fas fa-home"></i> Add Student</a></li>
                            <li><a routerLink="/admin/viewStudent"><i class="fas fa-user"></i> View Student</a></li>
                            <li><a routerLink="/admin/updateStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                            <li><a routerLink="/admin/viewStudent"><i class="fas fa-user-edit"></i> Update/Remove Student</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-md-5">
                    <p>Standard rooms are the normal rooms of our hostel</p>
                </div> -->
            </div>
            
        </div>
        
    </div>
<!-- </div> -->

<!-- <div class="d-flex p-2">I'm a flexbox container!</div>
<div class="fluid-container">
    <div class="d-inline-flex p-2 pull-left">I'm an inline flexbox container1!</div>
    <div class="d-flex flex-column align-items-center p-2 justify-content-around">
        <div>I am flex 2</div>
        <div>I am flex 3</div>
        <div>I am flex 4</div>
    </div>
</div> -->
