
<div class="row" style="text-align: center;">
    <div class="col-lg-6"  style="margin: left; float: left;">     
        <!-- girls rooms -->


    <div class="col-lg-6 text-center bg-light my-3" style="margin-left: 250px;;border-bottom: 2px groove black;">     
        <h2 class="text-center my-2" style="text-align: center;">Girls Rooms</h2>
    </div>
   
        <div class="col-xs-3 text-center col-sm-3 col-md-3 " style="margin: auto;">
            <div class="container" style="width: 18rem;">
                <img src="/../assets/img/girlsRoom1.jpg"  alt="image of Room" width="350px" height="300px">
                <div class="card-body">
                    <h1>Super Delux Room </h1><em class="small">(one person room)</em> <hr style="margin:revert;">
                    <h2 ><span style="color: #a14c4c">₹ {{prices.superDeluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 ><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.girlsSuperDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" style="margin: auto;">
            <div class="container" style="width: 18rem;">
                <img src="/../assets/img/girlsRoom2.jpg" class="card-img-top" alt="image of Room" width="350px" height="300px">
                <div class="card-body">
                    <h1 >Delux Room </h1><em class="small">(two person room)</em> <hr style="margin:revert;">
                    <h2><span style="color: #a14c4c">₹ {{prices.deluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 ><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.girlsDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3"  style="margin: auto;">
            <div class="container" style="width: 18rem;">
                <img src="/../assets/img/girlsRoom3.jpg" class="card-img-top" alt="image of Room" width="350px" height="300px">
                <div class="card-body">
                    <h1>Standard Room </h1><em class="small">(three person room)</em> <hr style="margin:revert;">
                    <h2 ><span style="color: #a14c4c">₹ {{prices.standard + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.girlsStandardRooms}}</span></h2>   
                </div>
            </div>
        </div>
    

            


                
                
     </div>
     <div class="col-lg-6"  style="margin: left; float: left;">   
        <!-- boys rooms -->
<div class="container mt-3 mb-5" >
    <div class="col-lg-6 text-center bg-light my-3" style="margin-left :240px;border-bottom: 2px groove black;">     
        <h2 class="text-center my-2"><span id="catTitle">Boys Rooms</span></h2>
    </div>
    
        <div class="col-xs-3 col-sm-3 col-md-3"  style="margin: auto;">
            <div class="container" style="width: 18rem;">
                <img src="/../assets/img/boysRoom1.jpg" class="card-img-top" alt="image of Room" width="350px" height="300px">
                <div class="card-body">
                    <h1 >Super Delux Room </h1><em class="small">(one person room)</em> <hr style="margin:revert;">
                    <h2 ><span style="color: #a14c4c">₹ {{prices.superDeluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2 ><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.boysSuperDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3"  style="margin: auto;">
            <div class="container" style="width: 18rem;">
                <img src="/../assets/img/boysRoom2.jpg" class="card-img-top" alt="image of Room" width="350px" height="300px">
                <div class="card-body">
                    <h1 >Delux Room </h1><em class="small">(two person room)</em> <hr style="margin:revert;">
                    <h2 ><span style="color: #a14c4c">₹ {{prices.deluxe + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.boysDeluxeRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3"  style="margin: auto;">
            <div class="container" style="width: 18rem;">
                <img src="/../assets/img/boysRoom3.jpg" class="card-img-top" alt="image of Room" width="350px" height="300px">
                <div class="card-body">
                    <h1 >Standard Room </h1><em class="small">(three person room)</em> <hr style="margin:revert;">
                    <h2 ><span style="color: #a14c4c">₹ {{prices.standard + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;">~including food</em></h2>
                    <h2><span class="badge badge-pill badge-primary" style="color: black;font-weight: 500;">Available Room: {{availability.boysStandardRooms}}</span></h2>   
                </div>
            </div>
        </div>
    </div>

            


                
                
    </div>

</div>

<!-- hostel another detail -->

      
<h1 style="font-size: 30px;
font-weight: 500;
text-align: center;
background-image: linear-gradient(to left, #553c9a, #b393d3);
color: transparent;
background-clip: text;
-webkit-background-clip: text;">HOSTEL SERVICES</h1>

    <div class="flex-container">
        <!--in-room Amenities-->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image"
                        src="https://i.pinimg.com/550x/1b/1a/c3/1b1ac30d974233c330af2bb9c43ab8d0.jpg" alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2>&#x263A; In-room Amenities</h2>
                    <ul>
                        <li>Fully furnished AC rooms with beds and mattress</li>
                        <li>Individual lockable almirahs for storage</li>
                        <li>Geysers in washrooms</li>
                        <li>Study tables</li>
                        <li>Dressing Mirror</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--in-room Amenities ends-->

        <!--Self Help Amenities-->
        <div class="flip-box">
            <div class=" flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS54nWCy0RsSJQTXsojReiwi1sBgSuz23kW-fz-fSci_rvfWng5NFdaTuPYZZh8C9FS56M&usqp=CAU"
                        alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2>&#129309; Self Help Amenities</h2>
                    <ul>
                        <li>Laundry: Fully automatic washing machines.</li>
                        <li>Ironing: Iron and ironing boards</li>
                        <li>Water: RO facility to be provided</li>
                        <li>coffee & Tea available at hostel</li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <!--Self Help Amenities ends-->

        <!--Security starts-->
        <div class="flip-box">
            <div class=" flip-box-inner">
                <div class="flip-box-front ">
                    <img class="flip-image"
                        src="https://i.pinimg.com/550x/cc/8a/19/cc8a19ffbe3ca02bd393eb32a86f3bd6.jpg" alt="NOT FOUND">
                </div>
                <div class="flip-box-back ">
                    <h2>&#128274; Security</h2>
                    <ul>
                        <li>CCTV Cameras</li>
                        <li>Automated lock will be installed at the main entrance</li>
                        <li>Security Guard- One mail security guard at main enrance and one female facility manager in
                            the
                            facility</li>

                    </ul>
                </div>
            </div>
        </div>
        <!--Security ends-->

        <!--Electricity starts-->
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image" src="https://etimg.etb2bimg.com/photo/68594225.cms" alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2>&#128161;Electricity</h2>
                    <ul>
                        <li>Residents to pay for their own electricity charges</li>
                        <li>There will be prepaid meters installed for the same</li>
                        <li>Residents will be charges INR 12/unit for electricity (plus convenience charges)</li>
                        <li>Common area electricity will be borne by CoHo</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Electricity ends-->


    </div>

    <div class="flex-container">
        <!--wifi-->
        <div class="flip-box2">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image2"
                        src="https://media.istockphoto.com/photos/futuristic-glowing-blue-wifi-symbol-on-black-dark-background-with-picture-id1297855259?b=1&k=20&m=1297855259&s=170667a&w=0&h=VPCwHBRy2-9NJX6kqNcJ19yQ_6aYJ9EnnCCBR9f2HOM="
                        alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2>&#10070; WiFi</h2>
                    <ul>
                        <li>High speed internet to be provided in the facility</li>

                    </ul>
                </div>
            </div>
        </div>
        <!--wifi ends-->

        <!--Meal-->
        <div class="flip-box2">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image2"
                        src="https://health.clevelandclinic.org/wp-content/uploads/sites/3/2020/02/EasyMealPrep-SG-770x533-1.jpg"
                        alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2>&#127836; Meal</h2>
                    <ul>
                        <li>Breakfast, evening snacks and dinner to be server daily</li>
                        <li>Lunch served on weekends only.</li>
                        <a class="nav-link" routerLink="/food" routerLinkActive="active" style="color:black ;">CLICK HERE</a>


                    </ul>
                </div>
            </div>
        </div>
        <!--Meal ends-->

        <!--Security starts-->
        <div class="flip-box2">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image2"
                        src="https://www.msgfacility.com/wp-content/uploads/2020/08/Executive-Housekeeping-Services.png"
                        alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2>&#127969;House keeping</h2>
                    <ul>
                        <li>Rooms</li>
                        <li>Washrooms</li>
                        <li>Common areas would be cleaned on a daily basis</li>
                        <li>Linen would be changed once a week</li>
                        <li>Regular pest controlled services</li>

                    </ul>
                </div>
            </div>
        </div>
        <!--Security ends-->

        <!--Electricity starts-->
        <div class="flip-box2">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img class="flip-image2"
                        src="https://www.holidify.com/images/cmsuploads/compressed/96433255_20190925190330.jpg"
                        alt="NOT FOUND">
                </div>
                <div class="flip-box-back">
                    <h2> &#128250; Entertainment</h2>
                    <ul>
                        <li>Mini lounge area with sitting arrangement</li>
                        <li>Common TV and DTH recharge</li>
                        <li>Indoor games like carom board, Table Tennis, chess,etc.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Electricity ends-->


    </div>

