<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="row">


      <div class="col-lg-6">
        <h3 style="font-weight:bolder;padding:70px 40px 0px 93px;font-family:Arial, Helvetica, sans-serif">
          India's 1st <span style="color:rgb(224, 17, 95);">PREMIUM</span> Hostel...
        </h3>
        <div style="font-weight:bolder;font-size:36px;padding:0px 20px 0px 93px;font-family:Arial, Helvetica, sans-serif">
<p style="padding: 0px 0px;margin:0px 0px -7px 0px;">Helping  you <span style="color:rgb(224, 17, 95)"> vision </span></p> <br>     
<p style="padding: 10px 0px;margin:-7px 0px;"><span style="color:rgb(224, 17, 95)"> your future.</span> Even</p> <br>       
<p style="padding: 0px 0px 10px 0px;margin:-7px 0px;"><span style="color:rgb(224, 17, 95);">before</span> you get to your</p><br>
<p style="padding: 0px 0px;margin:-7px 0px;">hostel.</p>
        </div>

        <div style="margin: 51px 0px 0px 0px;">
          <a href="#hero" style="border: radius 10px;background-color: rgb(237, 178, 2);border-radius:10px;margin: 0px 90px;padding:12px; font-size: 16px; color: black;">Check
            what's new &#8595;</a>
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <div class="skills-content mt-4 bg-image hover-zoom" style="padding-left: 48px;">
          <div class="bg-image hover-zoom">
            <img src="/../assets/ForDashboard/img/hostel.jpeg" alt="" style="width: 400px;border-radius: 45px;height: 280px;" class="w-100" class="w-100" />
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End About Us Section -->

<!-- <div style="background-color: rgb(217, 84, 84); border: none; height: 1197px; width: 100%"> -->
   <div id="slantdiv">
    <div style="background-color: black ; transform: skew(0deg, -5deg); margin-top:68px; height: 950px ; padding-top: 70px; text-align: center;">
      <div style="background-color: rgb(0, 0, 0) ;margin-top:0px; height: 701px ; text-align: center; transform: skew(0deg, 5deg);">

    <img data-v-4a24af0d="" src="/../assets/ForDashboard/img/skrew_img/1.jpeg" alt="indoor sports" style="margin-top: 90px;margin-left: 31px;height: 188px;width: 229px;vertical-align: middle;border-style: none;">
    <img data-v-4a24af0d="" src="/../assets/ForDashboard/img/skrew_img/2.jpeg" alt="performace arts" style="margin-top: 57px;margin-left: 18px;height: 265px;border-radius: 28px;width: 260px;vertical-align: middle;border-style: none;">
    <br>
    <img data-v-4a24af0d="" src="/../assets/ForDashboard/img/skrew_img/3.jpg" alt="academic excellence" style="margin-top: -53px;height: 188px;border-radius: 28px;width: 229px;margin-left: -21px;vertical-align: middle;border-style: none;">
    <img data-v-4a24af0d="" src="/../assets/ForDashboard/img/skrew_img/4.jpeg" alt="parties" style="margin-top: 25px;margin-left: -28px;height: 210px;border-radius: 28px;width: 246px;vertical-align: middle;border-style: none;">
<br><br>
<div class="py-5">
    <h1 style="color: rgb(245, 250, 250)"><h1 style="color:rgb(202, 97, 11)">PARAMPARA </h1> PRATISHTHA <h1 style="color:rgb(20, 238, 12)">ANUSHASAN</h1></h1>
    <h4 style="color: white">The   3   <i>PILLARS</i>   of   our   HOSTEL</h4>
  
    <button type="button" class="btn btn-danger" style="border-radius: 20px">JOIN  US</button>
  </div>
  </div>
  </div>
  </div> 

<!-- ======= Hero Section ======= -->
<section id="hero" style="margin-top: -58px;">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide1.jpeg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Making India's NEXT gen future <span>BRIGHT</span></h2>
              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div> -->
        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide2.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">

              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide3.jpeg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">

              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>
        <!-- Slide 4 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide4.jpeg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">

              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>
        <!-- Slide 5 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide5.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">

              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>
        <!-- Slide 6 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide6.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">

              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>
        <!-- Slide 7 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide7.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">

              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>
        <!-- Slide 8 -->
        <div class="carousel-item">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/slide8.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown mb-0">Our Mission</h2>
              <p class="animate__animated animate__fadeInUp mt-2">To be number one</p>
              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get
                Started</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-thin-double-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-thin-double-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Us Section ======= 
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <div class="skills-content mt-4">
            <img src="/../assets/ForDashboard/img/hostel.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <hr>
          <h2 class="text-center">Welcome to <strong>{{title | uppercase}}</strong> Hostel</h2>
          <hr>
          <h3>
            This project is a part of final evaluation of the NPCI bootcamp by Talentsprint. This is a MEAN stack
            project developed by NPCI-A Room-7 members.
          </h3>
          <div class="row">
            <div class="col-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                  href="#list-home" role="tab" aria-controls="home">Super Delux Room</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                  href="#list-profile" role="tab" aria-controls="profile">Delux Room</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                  href="#list-messages" role="tab" aria-controls="messages">Standard Room</a>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  Specious room with Air condition and Fridge facilities.<br> Storage Cupboard and 24x7 internet
                  facility with Wi-Fi.<br> Only for 1 Persons.</div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                  Specious room with separate study table for each student.<br> Specious storage cupboard. 24x7 internet
                  facility with Wi-Fi. Specious room with Air condition and Fridge facilities.<br> Only for 2 Persons.
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                  Specious room with separate study table for each student.<br> Specious storage cupboard. 24x7 internet
                  facility with Wi-Fi.<br> For 3 Persons.</div>
              </div>
            </div>
          </div>
          <p class="font-italic">
        </div>
      </div>
    </div>
  </section>  End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section class="counts section-bg">
    <div class="container">
      <h1 style="text-align:right;">
        <div class="animated fadeInLeft" style="color:rgb(24, 224, 157)">Rooms</div>
        <div class="animated fadeInRight">Available</div>
      </h1>
      <div class="row no-gutters my-5 justify-content-center">

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-boy"></i>
            <span data-toggle="counter-up">76</span>
            <p><strong>Total Rooms for Boys</strong></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-girl"></i>
            <span data-toggle="counter-up">80</span>
            <p><strong>Total Rooms for Girls</strong></p>
          </div>
        </div>

        <!-- <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">1,463</span>
            <p><strong>Hours Of Support</strong></p>
          </div>
        </div> -->

        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">21</span>
            <p><strong>Staff Members</strong></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Our Team Section ======= -->
<br>
  <div class="container">
    <div class="row blog p-4">
      <h1>
        <div class="animated fadeInLeft">Our Team</div>
        <div class="animated fadeInRight">Members</div>
      </h1>
      <div class="col-md-12 m-2 p-2">
        <div id="blogCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <div data-target="#blogCarousel" data-slide-to="0" class="active" style="height: 10px; width: 10px; border-radius: 50%; margin: 0px 5px">
              <!-- <li data-target="#blogCarousel" data-slide-to="0" class="active"></li> -->
            </div>
            <div data-target="#blogCarousel" data-slide-to="1" style="background: #c0bfbf; height: 10px; width: 10px; border-radius: 50%; margin: 0px 5px">
              <!-- <li data-target="#blogCarousel" data-slide-to="1"></li> -->
            </div>
          </ol>

          <!-- Carousel items -->
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-1.jpg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Anupam Shaw</h3>
                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-2.jpeg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Rushali Kumari</h3>

                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-3.jpeg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Aman Pratap Singh</h3>
                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-4.jpeg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Damini Kumari</h3>
                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->

            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-5.jpeg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Tania Yadav</h3>
                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-6.jpeg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Sai Madhav</h3>
                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="our-team">
                    <div class="pic">
                      <img src="/../assets/ForDashboard/img/team/team-7.jpeg">
                    </div>
                    <div class="team-content">
                      <h3 class="title">Rahul Patil</h3>
                    </div>
                    <ul class="social">
                      <li>
                        <a href="#" class="fa fa-envelope"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->

          </div>
          <!--.carousel-inner-->
        </div>
        <!--.Carousel-->

      </div>
    </div>
  </div><br>

</main>